@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&display=swap');

html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1, h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

li ul{
    list-style-type: disc;
}

ul li ul li ul{
    list-style: circle;
}