<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2020
        <a href="https://softuni.bg/courses/js-applications" class="text-dark">JS
            Applications</a>
    </div>
</footer>