<header>
    <nav>
        <ul>
            <li>
                {{#if loggedUser}}
                <a href="#/create">Create new offer</a>
                {{/if}}
            </li>
            <li class="site-logo">Shoe</li>
            <li>
                <a href="#/home">
                    <img src="../public/sneakers.png" alt="">
                </a>
            </li>            
            <li class="site-logo">Shelf</li>
            {{#if loggedUser}}
            <li>Welcome, {{username}} |
                <a href="#/logout">Logout</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>